.dashboard{
    display: block;
    background-color: #131315;
    border-radius: 30px;
    width: 100%;
    .text_content{
        padding: 40px;
        margin-bottom: 40px;
        h1{
            color: white;
            padding-bottom: 20px;
        }
        p{
            color: gray;
            padding-bottom: 10px;
        }
        span{
            background-color: #FF5C00;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            font-size: 12px;
            border-radius: 20px;
            display: inline-flex;
            align-items: center;
            color: white;
        }
    }
    
}
.image_container{
    padding-top: 50px;
    position: relative;
    width: 100%;
    .frame_image{
        width: 100%;
        display: block;
        height: auto;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .overlay_image{
        position: absolute;
    }
}
.group_one{
    top: 2%;
    left: -15%;
    width: 30%;
}
.group_two{
    top: -45%;
    left: 80%;
    width: 40%;
}
.review_card{
    padding: 10px;
    background-color: #F2ECFF;
    border-radius: 30px;
    height: 250px;
    width: 100%;
    margin-bottom: 10px;
    .review{
        font-weight: 600;
        font-size: 50px;
        align-items: center;
        justify-content: center;
        display: inline-flex;
    }
}
.review_card_two{
    padding: 10px;
    background-color: #0000008F;
    border-radius: 30px;
    height: 250px;
    width: 100%;
    color: #ffff;
    margin-bottom: 10px;
    .review_two{
        font-weight: 600;
        font-size: 50px;
        align-items: center;
        justify-content: center;
        display: inline-flex;
    }
}



